body {
    direction: rtl;
    text-align: right;
    font-family: iransans;
    position: absolute;
    width: 100%;
    min-height: 700px;
    background-color: #f6f8fa;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan/Yekan.eot');
    src: url('../fonts/yekan/Yekan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/yekan/Yekan.woff2') format('woff2'),
    url('../fonts/yekan/Yekan.woff') format('woff'),
    url('../fonts/yekan/Yekan.ttf') format('truetype'),
    url('../fonts/yekan/Yekan.svg#Yekan') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*@font-face {*/
/*    font-family: 'IRANSans';*/

/*    src: url('../fonts/Webfonts/Woff/IRANSansXFaNum-Regular.woff') format('woff'),*/
/*    url('../fonts/Webfonts/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2');*/

/*}*/

@font-face {
    font-family: "iransans";
    src: url("../fonts/iransans/IRANSansWeb_Light.woff2") format("woff2");
    src: url("../fonts/iransans/IRANSansWeb_Light.woff") format("woff");
}

a {
    text-decoration: none !important;
}

.container-fluid {
    padding: 0 !important;
}

.page-sidebar {
    width: 240px;
    background: #263238;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#sidebar_menu {
    padding: 0;
    margin-top: 60px;
}

#sidebar_menu li {
    list-style: none;
}

#sidebar_menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.child_menu {
    padding-top: 10px !important;
    background: #2c3B40;
    display: none;
}

.child_menu a {
    width: 100%;
    font-size: 13px !important;
    padding-top: 5px !important;
}

#sidebar_menu .fa-angle-left {
    float: left;
    font-size: 16px;
    padding-left: 5px;
}

#sidebar_menu .fa-angle-down {
    float: left;
    font-size: 16px;
    padding-left: 5px;
}

#sidebar_menu .active {
    background: #00bfd6;
}

.page-sidebar .fa-bars {
    color: white;
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin: 15px;
}

.toggled {
    width: 50px;
    font-size: 50px;
}

.toggled .sidebar_menu_text {
    display: none;
}

.toggled .fa-angle-left {
    display: none;
}

.toggled .fa-angle-down {
    display: none;
}

.toggled #sidebar_menu > li > a {
    font-size: 18px;
    text-align: center;
}

.toggled .child_menu {
    margin-right: 50px;
    width: 180px !important;
    position: absolute;
    margin-top: -50px;
    z-index: 999999999;
    border-right: 1px solid #E1E1E1;
}

.page-content {
    margin-right: 240px;
}

.content_box {
    width: 97%;
    margin: 40px auto;
}

.panel {
    background: white;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.panel .header {
    padding-right: 15px;
    height: 45px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel_content {
    padding: 30px;
}

.form-control {
    width: 300px;
    font-size: 14px;
    display: inline;
}

label {
    width: 170px;
    font-size: 14px;
    color: #686868;
}

.has_error {
    color: red;
    font-size: 13px;
}

.bootstrap-select .dropdown-toggle {
    width: 300px;
}

.bootstrap-select .btn-light {
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.bootstrap-select .btn-light .filter-option {
    text-align: right !important;
}

.bootstrap-select .dropdown-menu {
    text-align: right !important;
    overflow-x: hidden !important;
}

.bs-searchbox {
    width: 300px;
}

.message_div {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1000000;
    display: none;
}

.message_box {
    background: white;
    width: 360px;
    height: 135px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 16px;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    box-shadow: 5px 7px 4px 0 rgba(0, 0, 0, 0.1);

}

.message_box #msg {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px !important;
}

.message_box .alert {
    padding: 5px 30px 5px 30px !important;
    cursor: pointer;
    font-size: 14px !important;
}

.message_box .alert-danger {
    margin-right: 10px;
}

.header .dropdown {
    background: white !important;
    float: left;
}

.pagination {
    padding: 0 !important;
}

.badge-danger {
    float: left !important;
    font-size: 15px !important;
}

.badge-danger {
    float: left !important;
    font-size: 15px !important;
}

.text-left {
    text-align: left !important;
}

.badge-danger {
    color: #fff;
    background-color: #e3342f;
}

.badge-danger {
    float: left !important;
    font-size: 15px !important;
}

.text-left {
    text-align: left !important;
}

.badge-danger {
    color: #fff;
    background-color: #e3342f;
}


.pretty {

    margin-right: -154px !important;

    line-height: 0.5;
}

.dropdown-item.off {
    color: #999999 !important;
}

.dropdown-item .offcolor {
    color: #999999 !important;
}

.dropdown-toggle:focus {
    box-shadow: none !important;
}

.item_form {
    cursor: pointer;
}

.tooltip {
    font-family: Yekan !important;
}

.tooltip-inner {
    background: #1a7bb7 !important;
    font-size: 15px !important;
}

.breadcrumb {
    width: 100%;
    background: white;
    padding: 0;
    border: 1px solid #f3f3f3;
}

.breadcrumb .list-inline {
    margin-bottom: 0 !important;
    padding-right: 10px;
    width: 100%;
}

.breadcrumb .list-inline li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    padding-right: 5px;
}

.breadcrumb .list-inline li a .fa-angle-left {
    padding-right: 5px;
    padding-top: 1px;
}

.date_li {
    float: left;
    background: #00bfd6;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.search_form {
    padding-bottom: 20px;
    display: flex;
}

.search_form .form-control {
    height: 39px;
    border-top-left-radius: 0 !important;;
    border-bottom-left-radius: 0 !important;
}

.search_form .btn_search {
    border-top-right-radius: 0 !important;;
    border-bottom-right-radius: 0 !important;
}

.breadcrumb .fa-home {
    padding-left: 5px;
}

textarea {
    resize: none;
}

.brand_tozihat {
    height: 170px !important;
}

.table tbody tr td {
    vertical-align: middle;
    text-align: center !important;
}

thead {
    vertical-align: middle;
    text-align: center !important;
}

.jscolor {
    text-align: center !important;
}

.color {
    padding: 5px 10px !important;
    width: 100px !important;
    color: white;
}

.left {
    text-align: left !important;
    font-family: 'IRANSans' !important;
}

.color_option {

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.choice_pic_box {
    background: #f8f8f8;
    width: 100%;
    border: 1px dashed #e5e5e5;
    cursor: pointer;
    min-height: 250px;
    position: relative;
}

.choice_pic_box .title {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 145px;
    height: 20px;
    color: grey;
}

.pic_tag {
    margin: 0 auto !important;
    display: table !important;
    max-height: 300px !important;
    max-width: 100%;
}

#tag_list {

    float: right;
    border-top-left-radius: 0 !important;;
    border-bottom-left-radius: 0 !important;
    height: 37px !important;
}

#add_tag {
    border-top-right-radius: 0 !important;;
    border-bottom-right-radius: 0 !important;
}

.tag_div {
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    background: #3d7cda;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;

}

.description {
    width: 100% !important;
}

.product_pic {
    width: 100px;
    max-height: 220px;
}

.dropzone {
    border: 2px dashed #68a5ff;
    border-radius: 3px;
    -webkit-border-radius: 3px;

}

#tbl_gallery {
    margin-top: 50px !important;
}

#loading_box {
    background: rgba(255, 255, 255, 0.65);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: none;

}

.loading_div {
    width: 220px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    text-align: center;
    padding: 20px;
    position: absolute;

}

.loading {
    width: 30px;
    height: 30px;
    border: 3px solid red;
    border-top: 3px solid white;
    float: right;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    animation: load 5s linear infinite;


}

@keyframes load {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }

}


.ui-sortable-helper {
    display: table;
}

.item_group {
    padding: 15px;
    background: #f8fafc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.child_item_box {
    padding-top: 10px;
}

.child_item_box input[type=checkbox] {
    margin-left: 10px;
}

.child_input_item {
    margin-right: 10px !important;
}

.item_remove_message {
    float: left;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.child_item_remove_message {
    color: red;
    cursor: pointer;
}

.main-title {
    color: #0fabef;
    font-weight: bold;
    font-size: 20px;
}

.icon_title {
    position: relative;
    top: 3px;
    margin-left: 10px
}

.input_item_box {
    margin-top: 10px;
    margin-right: 12px;
}

.input_value_item {
    margin-right: 10px;
}

.child_filter_box {
    margin-top: 10px;
}

.item_filter_box {
    width: calc(100% - 685px) !important;
    margin-right: 184px;
    z-index: 10;
    position: relative;
    background: white;
}

.item_filter_box ul {
    position: absolute;
    width: 100%;
    background: white;
    padding: 5px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    max-height: 300px;
    display: none;

}

.item_filter_box ul li {
    list-style: none;
    margin-right: 10px !important;
    padding: 10px;
    cursor: pointer;
}

.color_td {
    border-radius: 5px;
    padding: 5px;
}

.select_item {
    font-size: 13px;
    padding: 5px 7px;
    border: 1px solid #00bfd6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background: cornflowerblue;
    color: white;
}

.modal-header h6 {
    margin-bottom: 0 !important;
}

.modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

}

.page-item:last-child .page-link {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.page-item:first-child .page-link {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.IncredibleOffers .form-group label {
    width: 195px !important;
}

a.pcalBtn {
    vertical-align: middle !important;
    margin-right: 5px !important;
}

.remove_item {
    font-size: 13px;
    background-color: #ef5661;
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;

}

input.pdate {
    font-family: 'IRANSans' !important;
}

.send_order label {
    width: 220px !important;
}

.add_city label {
    width: 220px !important;
}


.order_table_info {
    width: 95%;
    margin: 30px auto !important;
}

.order_table_info tr td {
    color: #bababa;
    width: 50%;
}

.order_table_info tr td span {
    color: black !important;
    width: 100%;
    display: block;
    margin-top: 10px;
    font-family: 'IRANSans';
}

.order_info_div {
    width: 95%;
    margin: 20px auto !important;
    border: 1px solid #e5e5e5;
}

.order_info_div .header {
    background-color: #fcfef5;
    border: 1px solid #cfe3bb;
    color: #b1b58b;
}

.product_list_data {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*font-size: 13px;*/
    border: 1px solid #e7e7e7;
}

.product_list_data tr th {
    background-color: #85b3be;
    color: white;
    font-size: 14px;
    text-align: center;
    border-right-color: #85b3be;
}

.product_list_data tr td {
    border-left: 1px solid #e7e7e7;
    text-align: center;
    vertical-align: center;
}

.product_list_data .product_verify_info {
    width: 35%;

}

.product_list_data .product_verify_info div {
    display: flex;
}

.product_list_data .product_verify_info div img {
    width: 100px;
    height: 100px;
}

.product_list_data .product_verify_info div ul {
    font-size: 13px;
    color: #acacac !important;
    width: calc(100% - 100px);
    margin-right: 10px;
}

.product_list_data .product_verify_info div ul li {
    list-style: none;
    text-align: justify;
}

.product_list_data .product_verify_info div ul li .title {
    text-align: justify !important;
}

.step_inactive {
    filter: grayscale(100%);
    opacity: 0.3;
}

.order_steps {
    width: 95%;
    margin: 20px auto;
}

.step_div {
    width: 100%;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.step_div span {
    padding-top: 15px;
}

.order_steps img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}

.order_steps hr {
    min-width: 66px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
    opacity: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 5px;
}

/*.order_steps .swiper-slide{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.hr_active {
    background-color: #81d7e2 !important;
}

.hr_active::before {
    background-color: #81d7e2 !important;
}

.swiper-button-next::before {
    content: "\F104";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
    color: #575555;
}

.swiper-button-prev::before {
    content: "\F105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
    color: #575555;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "";
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.product_list_data .product_verify_info div ul li {
    list-style: none;
    text-align: justify;
}

.product_list_data .product_verify_info div ul {
    font-size: 13px;
    color: #acacac !important;
    width: calc(100% - 100px);
    margin-right: -30px;
}


#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    z-index: 999999999;
    background-position: center center;
    background-color: rgba(0, 0, 255, 0.3);
    background-repeat: no-repeat;
    display: none;
}

#loading h6 {
    top: 65%;
    right: 48%;
    position: absolute;
    font-size: 17px;
    height: 0;
}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 0;
    margin: 0;

}

.loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
}

.loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
}

@keyframes lqt {
    0%, 100% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% 40px;
    }
    50.1% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% -40px;
    }
}

@keyframes lqb {
    0% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0 40px;
    }
    100% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0 -40px;
    }
}

@keyframes spinx {
    0%, 49% {
        transform: rotate(0deg);
        background-position: 50% 36px;
    }
    51%, 98% {
        transform: rotate(180deg);
        background-position: 50% 4px;
    }
    100% {
        transform: rotate(360deg);
        background-position: 50% 36px;
    }
}

.error_dialog {
    background-color: #ef5661;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: 100000;
    display: none;
}

.order_search {
    display: flex;
}

.order_search .pcalBtn {
    display: none;
}

.order_search .form-control {
    border-radius: 0 !important;
}

#discount_code label {
    width: 220px !important;
}

#discount_code .pretty {
    margin-right: -200px !important;
}

.comment_box {
    font-size: 15px;
    margin-top: 20px;
}

.comment_box .rating_ul {
    margin-top: 56px;
    padding-right: 0 !important;
}

.comment_box .rating_ul li {
    list-style: none;
    display: flex;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
}

.comment_box .rating_ul li label {
    width: 170px !important;
}

.comment_box .rating {
    position: relative;
    height: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #eaeaea;
    width: calc(100% - 220px);
    margin-top: 9px;
}

.comment_box .rating::before {
    content: attr(data-rate-digital);
    position: absolute;
    right: 100%;
    margin-right: 11px;
    color: #6f6f6f;
    font-size: 13px !important;
    bottom: -6px;
    width: 100%;
}

.rating-value {
    background-color: #00bfd6;
    height: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.comment_box .comment_content {
    color: #505050;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.evaluation_ul {
    margin-top: 5px;
    padding-right: 0 !important;
}

.evaluation_ul li {
    list-style: none;
    position: relative;
    font-size: 14px;
}

.evaluation_ul li span {
    margin-right: 15px;
}

.evaluation_ul li::before {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    content: "";
    top: 9px;
}

.evaluation_ul.advantage li::before {
    background-color: #00bfd6;
}

.evaluation_ul.disadvantage li::before {
    background-color: #fb3449;
}

.comment_header_box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.pending_approval {
    border: 1px solid #ece1e2;
}

.pending_approval .comment_header_box {
    color: #fb3449;
    background-color: #fff3f4;
}

.Accepted {
    border: 1px solid #f1f3f5;
}

.Accepted .comment_header_box {
    color: #fb3449;
    background-color: rgba(249, 249, 249, 0.79);
}

.comment_box .row {
    padding: 20px 15px;
}

.message_purchased {
    background-color: #fcf3f5;
    border: 1px solid #cfe3bb;
    color: #b1d58b;
    display: table;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 14px;
}

.message_purchased a {
    color: #444141;
}

.comment_status {
    cursor: pointer;
}

.server_error_box {
    position: fixed;
    left: 20px;
    bottom: 30px;
    background-color: #ef5661;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    max-width: 280px;
    font-size: 14px;
    color: white;
    display: none;
    padding: 10px;
}

.server_error_box div {
    display: flex;
    align-items: center;
}

.question_div {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
    color: #444d4d;
    font-size: 14px;
    margin-top: 20px;
    min-height: 180px;
}

.question_div_header {
    background-color: #f5f6f7;
    padding: 18px;
    display: inline-flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    cursor: pointer;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}

.question-pending-approval {
    background-color: #fff3f4 !important;
    color: #fb3449 !important;
}

.question_content {
    padding: 18px;
    line-height: 28px;
}

.question_div .main {
    padding: 20px;
    margin: 20px 10px;
    border: 1px dashed #8b8b8c;
    line-height: 25px;
}

.question_div .main p {
    font-size: 17px !important;
}

.answer_div {
    display: none;
}

.question_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    border-top: 1px solid #e0e1e2;
    margin-top: 20px;
}

.question_footer a {
    color: #1ca2db !important;
}

.add_answer {
    color: #1ca2db !important;
    cursor: pointer;
    border-bottom: 1px dashed #1ca2db;
}

.question_content textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #e0e1e2;
}

#role .bootstrap-select .dropdown-toggle {
    width: 170px !important;
    height: 39px !important;
}

#role .bootstrap-select .dropdown-menu {
    min-width: 77% !important;
}

#role .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 170px !important;
}

#user_div .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 300px !important;
}

.content_tab_div {
    padding: 20px 15px;
    border: 1px solid #dfdfdf;
}

#tab_div {
    margin: 30px 0;
}

#tab_div .nav-tabs {
    border: 1px solid #dfdfdf;
    background-color: #f8f8f8;
    padding: 0 !important;
}

#tab_div .nav-tabs .nav-link {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

#tab_div .nav-tabs .nav-link.active::before {
    display: block;
    content: "";
    height: 3px;
    background-color: #00bfd6;
    position: absolute;
    bottom: 100%;
    width: 100%;
    right: 0;
    left: 0;
}

.access {
    padding-right: 0 !important;
}

.access li {
    list-style: none;
}

.access li span {
    font-weight: bold;
}

.access li ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
}

.access li ul li {
    font-size: 14px;
    padding: 15px;
    width: 25%;
}

.textarea_field {
    display: flex;
    align-items: center;
}

.textarea_field textarea {
    margin-right: 5px;
    height: 120px;
}

.select_product_btn {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 15px;
}

.product_list .modal-lg {
    max-width: 1000px !important;
}

.product_list table tr td {
    font-size: 14px;
}


.pagination,
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination a {
    background: #f23b26;
    list-style: none;
}

.pagination .item {
    text-decoration: none;
    color: #fdfdfd;
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-right-width: 0;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.35);
}

.pagination a:focus,
.pagination a.active {
    padding-top: 4px;
    border-left-width: 1px;
    background: rgb(255 0 0 / 62%);
    box-shadow: inset 0 2px 1px 0 rgb(239 7 7 / 25%);
}

.pagination .item {
    font-size: 12px;
    cursor: pointer;
}

.pagination a i.left::before {
    content: "قبلی";
}

.pagination a i.right::before {
    content: "بعدی";
}

.pagination .disabled {
    color: rgb(225 172 176 / 85%) !important;
}


/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}

.load-wrapp p {
    padding: 0 0 20px;
}

.load-wrapp:last-child {
    margin-right: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282b3;
}

.letter-holder {
    padding: 16px;
}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

.loading_box2 {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(241, 241, 241, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {
    animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
    animation: loadingA 1.5s 0.5s infinite;
}

.load-1 .line:nth-last-child(3) {
    animation: loadingA 1.5s 0s infinite;
}

.load-2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
    animation: loadingB 1.5s 0.5s infinite;
}

.load-2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

.load-4 .ring-1 {
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {
    animation-delay: 0.48s;
}

.l-2 {
    animation-delay: 0.6s;
}

.l-3 {
    animation-delay: 0.72s;
}

.l-4 {
    animation-delay: 0.84s;
}

.l-5 {
    animation-delay: 0.96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

.load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-8 .line {
    animation: loadingH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
    animation-delay: -1s;
}

.load-10 .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingA {
    0% {
        height: 15px;
    }
    50% {
        height: 35px;
    }
    100% {
        height: 15px;
    }
}

@keyframes loadingB {
    0% {
        width: 15px;
    }
    50% {
        width: 35px;
    }
    100% {
        width: 15px;
    }
}

@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes loadingD {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingE {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes loadingH {
    0% {
        width: 15px;
    }
    50% {
        width: 35px;
        padding: 4px;
    }
    100% {
        width: 15px;
    }
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes loadingJ {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(80px, 0);
        background-color: #f5634a;
        width: 25px;
    }
}

.stockroom_product_pic{
    width: 55px!important;
}
@media (min-width: 1300px) {
    .stockroom_product_pic{
        width: 65px!important;
    }
}
.product_list .input_div{
    padding: 20px!important;
}
.product_list .input_div a,input{
    border-radius: 0!important;
}
.product_list .input_div input{
    box-shadow: none!important;
}
.product_list .input_div a{
    margin-top: 1px;
    font-size: 14px;
}
.error_ul{
    margin-bottom:5px!important;
    margin-top:5px!important;
    font-size: 14px;
    margin-right: 10px;
    padding: 0!important;
}
.error_ul li{
    line-height: 25px;
}
#auto_width .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto!important;
}
.tozihat{
    background-color: #f5f6f75d;
    padding: 18px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.09);
    color: grey;
    margin-bottom: 20px;
}
.tozihat span{
    color: black;
    display: block;
    font-size: 15px;
    padding-bottom: 20px;
}
.add_btn{
    margin-bottom: 20px;
    font-size: 14px;
}
#search_form_list .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    margin-left: 85px;
}
#add_input_select .bootstrap-select .dropdown-menu {
    width:300px;
}
#add_input_select .bootstrap-select .dropdown-menu.inner{
    width: auto;
}
.auto-width-select{
    width: auto!important;
}
