body{
    direction: rtl;
    text-align: right;
    font-family: Yekan;
    position: absolute;
    width: 100%;
    min-height:700px ;
    background-color: #f6f8fa;
}

@font-face {
    font-family: 'Yekan';
    src: url( '../fonts/yekan/Yekan.eot' );
    src: url( '../fonts/yekan/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
    url( '../fonts/yekan/Yekan.woff2' ) format( 'woff2' ),
    url( '../fonts/yekan/Yekan.woff' ) format( 'woff' ),
    url( '../fonts/yekan/Yekan.ttf' ) format( 'truetype' ),
    url( '../fonts/yekan/Yekan.svg#Yekan' ) format( 'svg' );
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';

    src: url('../fonts/Webfonts/Woff/IRANSansXFaNum-Regular.woff') format('woff'),
    url('../fonts/Webfonts/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2');

}

a {
    text-decoration: none!important;
}

.container-fluid{
    padding: 0!important;
}
.page-sidebar{
    width: 240px;
    background: #263238;
    height: 100%;
    position: absolute;
    bottom: 0;
}
#sidebar_menu
{
   padding: 0;
    margin-top: 60px;
}
#sidebar_menu li
{
    list-style: none;
}
#sidebar_menu li a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.child_menu{
    padding-top: 10px!important;
    background: #2c3B40;
    display: none;
}

.child_menu a{
    width: 100%;
    font-size: 13px!important;
    padding-top: 5px!important;
}
#sidebar_menu .fa-angle-left{
    float: left;
    font-size: 16px;
    padding-left: 5px;
}
#sidebar_menu .fa-angle-down{
    float: left;
    font-size: 16px;
    padding-left: 5px;
}

#sidebar_menu .active{
    background: #00bfd6;
}

.page-sidebar .fa-bars{
    color: white;
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin: 15px;
}
.toggled{
    width: 50px;
    font-size: 50px;
}
.toggled .sidebar_menu_text{
    display: none;
}
.toggled .fa-angle-left{
    display: none;
}

.toggled .fa-angle-down{
    display: none;
}
.toggled #sidebar_menu>li>a{
    font-size: 18px;
    text-align: center;
}
.toggled .child_menu{
    margin-right: 50px;
    width: 180px!important;
    position: absolute;
    margin-top: -50px;
    z-index: 999999999;
    border-right: 1px solid #E1E1E1;
}
.page-content{
    margin-right: 240px;
}
.content_box{
    width: 97%;
    margin: 40px auto;
}
.panel{
    background: white;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.panel .header{
    padding-right: 15px;
    height: 45px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel_content{
    padding: 30px;
}

.form-control{
    width: 300px;
    font-size: 14px;
    display: inline;
}
label{
    width: 170px;
    font-size: 14px;
    color: #686868;
}
.has_error{
    color: red;
    font-size: 13px;
}
.bootstrap-select .dropdown-toggle{
    width: 300px;
}

.bootstrap-select .btn-light{
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.bootstrap-select .btn-light .filter-option{
    text-align: right!important;
}
.bootstrap-select .dropdown-menu{
    text-align: right!important;
    overflow-x: hidden!important;
}
.bs-searchbox{
    width: 300px;
}

.message_div{
    background: rgba(255,255,255,0.5);
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1000000;
    display: none;
}
.message_box{
    background: white;
    width: 360px;
    height: 135px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 16px;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    box-shadow: 5px 7px 4px 0 rgba(0,0,0,0.1);

}
.message_box #msg{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-size: 15px!important;
}
.message_box .alert{
    padding: 5px 30px 5px 30px!important;
    cursor: pointer;
    font-size: 14px!important;
}
.message_box .alert-danger{
    margin-right: 10px;
}
.header .dropdown{
    background: white!important;
    float: left;
}
.pagination{
    padding: 0!important;
}
.badge-danger{
    float: left!important;
    font-size: 15px!important;
}

.badge-danger {
    float: left!important;
    font-size: 15px!important;
}
.text-left {
    text-align: left !important;
}
.badge-danger {
    color: #fff;
    background-color: #e3342f;
}
.badge-danger {
    float: left!important;
    font-size: 15px!important;
}
.text-left {
    text-align: left !important;
}
.badge-danger {
    color: #fff;
    background-color: #e3342f;
}


.pretty {

    margin-right: -154px!important;

    line-height: 0.5;
}
.dropdown-item.off{
    color: #999999!important;
}
.dropdown-item .offcolor {
    color: #999999!important;
}

.dropdown-toggle:focus{
    box-shadow: none!important;
}
.item_form{
    cursor: pointer;
}
.tooltip{
    font-family: Yekan!important;
}
.tooltip-inner{
    background: #1a7bb7 !important;
    font-size: 15px!important;
}
.breadcrumb{
    width: 100%;
    background: white;
    padding: 0;
    border: 1px solid #f3f3f3;
}
.breadcrumb .list-inline{
    margin-bottom: 0!important;
    padding-right: 10px;
    width: 100%;
}
.breadcrumb .list-inline li{
    display: inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    padding-right: 5px;
}

.breadcrumb .list-inline li a  .fa-angle-left{
    padding-right: 5px;
    padding-top: 1px;
}

.date_li{
    float: left;
    background: #00bfd6;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.search_form{
    padding-bottom: 20px;
    display: flex;
}
.search_form .form-control{
height: 39px;
    border-top-left-radius:0!important; ;
    border-bottom-left-radius:0 !important;
}
.search_form .btn_search{
    border-top-right-radius:0!important; ;
    border-bottom-right-radius:0 !important;
}

.breadcrumb .fa-home{
    padding-left: 5px;
}
textarea{
    resize: none;
}
.brand_tozihat{
    height: 170px!important;
}

.table tbody tr td{
    vertical-align: middle;
    text-align: center!important;
}

thead{
    vertical-align: middle;
    text-align: center!important;
}
.jscolor{
    text-align: center!important;
}
.color{
    padding: 5px 10px!important;
    width: 100px!important;
    color: white;
}
.left{
    text-align: left!important;
    font-family: 'IRANSans'!important;
}
.color_option{

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.choice_pic_box{
    background: #f8f8f8;
    width: 100%;
    border: 1px dashed #e5e5e5;
    cursor: pointer;
    min-height: 250px;
    position: relative;
}
.choice_pic_box .title{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 145px;
    height: 20px;
    color: grey;
}
.pic_tag{
    margin: 0 auto!important;
    display: table!important;
    max-height: 300px!important;
    max-width: 100%;
}
#tag_list{

    float: right;
    border-top-left-radius:0!important; ;
    border-bottom-left-radius:0 !important;
    height: 37px!important;
}
#add_tag{
    border-top-right-radius:0!important; ;
    border-bottom-right-radius:0 !important;
}
.tag_div{
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    background: #3d7cda;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;

}
.description{
    width: 100%!important;
}

.product_pic{
    width: 100px;
    max-height: 220px;
}
.dropzone{
    border: 2px dashed #68a5ff;
    border-radius: 3px;
    -webkit-border-radius: 3px;

}

#tbl_gallery{
    margin-top: 50px!important;
}
#loading_box{
    background: rgba(255,255,255,0.65);
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: none;

}
.loading_div{
    width: 220px;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    height: 20px;
    margin: auto;
    text-align: center;
    padding: 20px;
    position: absolute;

}
.loading{
    width: 30px;
    height: 30px;
    border: 3px solid red;
    border-top: 3px solid white;
    float: right;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    animation: load 5s linear infinite;


}

@keyframes load {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}

}


.ui-sortable-helper{
    display: table;
}

.item_group{
    padding: 15px;
    background: #f8fafc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.child_item_box{
    padding-top: 10px;
}
.child_item_box input[type=checkbox]{
    margin-left: 10px;
}
.child_input_item{
    margin-right: 10px!important;
}
.item_remove_message{
    float: left;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.child_item_remove_message{
    color: red;
    cursor: pointer;
}
.main-title{
    color: #0fabef;
    font-weight: bold;
    font-size: 20px;
}
.icon_title
{
    position: relative;
    top: 3px;
    margin-left: 10px
}
.input_item_box{
    margin-top: 10px;
    margin-right: 12px;
}
.input_value_item{
    margin-right: 10px;
}
.child_filter_box{
    margin-top: 10px;
}

.item_filter_box{
    width: calc(100% - 685px)!important;
    margin-right: 184px;
    z-index: 10;
    position: relative;
    background: white;
}
.item_filter_box ul{
    position: absolute;
    width: 100%;
    background: white;
    padding: 5px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    max-height: 300px;
    display: none;

}
.item_filter_box ul li{
    list-style: none;
    margin-right:10px!important;
    padding: 10px;
    cursor: pointer;
}

.color_td{
    border-radius: 5px;
    padding: 5px;
}

.select_item{
    font-size: 13px;
    padding: 5px 7px;
    border: 1px solid #00bfd6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background: cornflowerblue;
    color: white;
}
.modal-header h6{
    margin-bottom: 0!important;
}
.modal-header .close{
    padding: 0!important;
    margin: 0!important;
}
.modal-dialog{
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

}
.page-item:last-child .page-link {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.page-item:first-child .page-link {
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.IncredibleOffers .form-group label{
    width: 195px!important;
}
a.pcalBtn {
    vertical-align: middle!important;
    margin-right:5px!important;
}
.remove_item{
    font-size: 13px;
    background-color: #ef5661;
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;

}

input.pdate{
    font-family: 'IRANSans'!important;
}

.send_order label{
    width: 220px!important;
}
.add_city label{
    width: 220px!important;
}


.order_table_info{
    width: 95%;
    margin: 30px auto!important;
}
.order_table_info tr td{
    color: #bababa;
    width: 50%;
}
.order_table_info tr td span{
    color: black!important;
    width: 100%;
    display: block;
    margin-top: 10px;
    font-family: 'IRANSans';
}
.order_info_div{
    width: 95%;
    margin: 20px auto!important;
    border: 1px solid #e5e5e5;
}
.order_info_div .header{
    background-color: #fcfef5;
    border: 1px solid #cfe3bb;
    color: #b1b58b;
}
.product_list_data{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*font-size: 13px;*/
    border: 1px solid #e7e7e7;
}
.product_list_data  tr th{
    background-color: #85b3be;
    color: white;
    font-size: 14px;
    text-align: center;
    border-right-color: #85b3be;
}
.product_list_data tr td{
    border-left: 1px solid #e7e7e7;
    text-align: center;
    vertical-align: center;
}
.product_list_data .product_verify_info{
    width: 35%;

}
.product_list_data .product_verify_info div{
    display: flex;
}
.product_list_data .product_verify_info div img{
    width: 100px;
    height: 100px;
}
.product_list_data .product_verify_info div ul{
    font-size: 13px;
    color: #acacac!important;
    width: calc(100% - 100px);
    margin-right: 10px;
}
.product_list_data .product_verify_info div ul li{
    list-style: none;
    text-align: justify;
}
.product_list_data .product_verify_info div ul li .title{
    text-align: justify!important;
}
.step_inactive{
    filter: grayscale(100%);
    opacity: 0.3;
}
.order_steps{
    width: 95%;
    margin: 20px auto;
}
.step_div{
    width: 100%;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}
.step_div span{
    padding-top: 15px;
}
.order_steps img{
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}
.order_steps hr{
    min-width: 66px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
    opacity: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 5px;
}
/*.order_steps .swiper-slide{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.hr_active{
    background-color: #81d7e2!important;
}
.hr_active::before{
    background-color: #81d7e2!important;
}

.swiper-button-next::before {
    content: "\F104";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
    color: #575555;
}
.swiper-button-prev::before {
    content: "\F105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
    color: #575555;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "";
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.product_list_data .product_verify_info div ul li {
    list-style: none;
    text-align: justify;
}
.product_list_data .product_verify_info div ul {
    font-size: 13px;
    color: #acacac!important;
    width: calc(100% - 100px);
    margin-right: -30px;
}



#loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    z-index: 999999999;
    background-position: center center;
    background-color: rgba(0,0,255,0.3);
    background-repeat: no-repeat;
    display: none;
}
#loading h6{
    top:65%;
    right: 48%;
    position: absolute;
    font-size: 17px;
    height: 0;
}
.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 0;
    margin: 0;

}
.loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
}
.loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
}
@keyframes lqt {
    0%, 100% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% 40px;
    }
    50.1% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% -40px;
    }
}
@keyframes lqb {
    0% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0 40px;
    }
    100% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0 -40px;
    }
}
@keyframes spinx {
    0%, 49% {
        transform: rotate(0deg);
        background-position: 50% 36px;
    }
    51%, 98% {
        transform: rotate(180deg);
        background-position: 50% 4px;
    }
    100% {
        transform: rotate(360deg);
        background-position: 50% 36px;
    }
}

.error_dialog{
    background-color: #ef5661;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: 100000;
    display: none;
}
.order_search{
    display: flex;
}
.order_search .pcalBtn{
    display: none;
}

.order_search .form-control{
    border-radius: 0!important;
}

#discount_code label{
    width: 220px!important;
}
#discount_code .pretty {
    margin-right: -200px!important;
}
