.form_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000000;
    background-color: rgba(255, 255, 255, 0.81);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_cover span{
    color: #1ca2db !important;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
#additional_info .footer {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    margin: 20px 0;
}
#additional_info .footer button {
    margin-left: 10px;
}
#legal_title{
    display: none;
}
#additional_info .toggle_box span{
    padding-right: 5px;
}
#account_type_toggle .toggle-light .toggle-on, .toggle-light .toggle-select .toggle-inner .active {
    background: #3b8bdc!important;
}
#additional_info .footer{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    margin: 20px 0;
}
.profile_address_cart{
    background-color: #fff;
    position: relative;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    margin: 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}
.profile_address_cart::before{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(90deg,#00bfd6 48px,#ff7e7e 48px) repeat-x;
    background-size: 96px 3px;
}
.profile_address_cart_desc{
    padding: 25px 30px 15px;
    min-height: 120px;
}
.profile_address_cart_desc h4{
    margin-bottom: 5px;
    color: #6d6d6d;
    font-size: 17px!important;
}
.profile_address_cart_desc span{
    font-size: 14px;
    color: #979797;
    padding-top: 5px;
    font-family: iranyekan;
}
.profile_address_cart_data{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #f4f4f4;
    padding: 15px 20px;
}
li{
    list-style: none;
}
.profile_address_cart_data ul li{
    color: #979797;
    padding-top: 10px;
    font-size: 16px;
}
.profile_address_cart_data ul li i{
    margin: 10px;
    font-size: 20px;
}
.chosen{
color: red!important;
}
.score {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gray {
    width: 80px;
    height: 16px;
    margin-right: 5px;
    background: url("../files/images/star-new.gif") repeat-x 0 0;
    direction: ltr;
}

.red {
    height: 16px;
    background: url("../files/images/star-new.gif") repeat-x 0 -32px;
}
#share_box .modal-dialog{
    max-width: 390px!important;
}
#share_box ul
{
    display: flex;
    justify-content: space-between;
}
#share_box ul li{
    list-style: none;
}
#share_box ul li a span{
    font-size: 28px;
}
#share_box .mdi-telegram{
    color: #08c;
}
#share_box .mdi-twitter{
    color: #4dcceb;
}
#share_box .mdi-facebook{
    color: #1da1f2;
}
#share_box .mdi-whatsapp{
    color: #1bd741;
}
#share_box .mdi-email-outline{
    color: #ef5661;
    cursor: pointer;
}
#share_box ul li button{
    font-size: 13px;
    width: 100px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    margin-top: 5px;
}
.share_link_form{
    width: 100%;
    display: none;
}
.share_link_form #email{
    width: calc(100% - 100px)!important;
    height: 40px;
}
.email_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.share_link_form button{
    background: #ef5661!important;
    border-color:#ef5661!important;
    width: 80px;
    font-size: 14px;
    border-radius: 0.25rem;
    color: white;
    height: 40px;
}
.share_link_form .has_error{
    font-size: 13px;
    color: red;
    padding-top: 10px;
}
