body {
    direction: rtl;
    text-align: right;
    font-family: Yekan;
    position: absolute;
    width: 100%;
    min-height: 700px;
    background-color: #f5f5f5;
    color: #515151;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan/Yekan.eot');
    src: url('../fonts/yekan/Yekan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/yekan/Yekan.woff2') format('woff2'),
    url('../fonts/yekan/Yekan.woff') format('woff'),
    url('../fonts/yekan/Yekan.ttf') format('truetype'),
    url('../fonts/yekan/Yekan.svg#Yekan') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';

    src: url('../fonts/Webfonts/Woff/IRANSansXFaNum-DemiBold.woff') format('woff'),
    url('../fonts/Webfonts/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none !important;
    color: #000000;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: white;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;

}
#align-justify{
    font-size: 20px!important;
    color: grey;
}
.slider_box .swiper-container{
    width: 100%;
    height: 100%;
}
.slider_box img{
    margin: 10px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    width: 100%;
    max-height: 250px;
}
.slider_box .swiper-pagination-bullet-active {
    opacity: 1;
    background: #00bfd6!important;
}
.c-footer{
    margin-top: 50px;
    padding: 0 10px 0;
    background-color:white;
    position: relative;
    line-height: 22px;
    position: absolute;
    width: 100%;
}
.c-footer-feature-item-1{
    background: url("../files/images/express-delivery.svg")43% 8px no-repeat;
    background-size: 80px;
}
.c-footer-feature-item-2{
    background: url("../files/images/support.svg")43% 8px no-repeat;
    background-size: 80px;
}
.c-footer-feature-item-3{
    background: url("../files/images/cash-on-delivery.svg")43% 8px no-repeat;
    background-size: 80px;
}
.c-footer-feature-item-4{
    background: url("../files/images/days-return.svg")43% 8px no-repeat;
    background-size: 80px;
}
.c-footer-feature-item-5{
    background: url("../files/images/original-products.svg")43% 8px no-repeat;
    background-size: 80px;
}
.c-footer .row{
    width: 98%;
    margin: auto!important;
    padding-top: 20px;
    border-bottom: 1px solid #ccecec;
    color: #4a5f73;
}
.c-footer .row ul{
    margin-top: 20px;
    margin-bottom: 30px;
}
.c-footer .row ul li{
    font-size: 14px;
    list-style: none;
    line-height: 30px;
    color: #c6c6c6;
}
.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.c-footer .mojavez{
    text-align: center;
}
.c-footer .mojavez div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.c-footer .mojavez img{
    max-width: 70px!important;
    margin-bottom: 10px;
    display: block;
}
.product .title {
    color: black !important;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.product img {
    width: 116px;
    margin: 10px auto;
    display: block;
}
.discount-badge {
    padding: 1px 5px;
    color: white !important;
    background: #ef5662;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 15px;
    font-size: 13px;
    letter-spacing: .5px;
    position: absolute;
    z-index: 2;
    line-height: 1.2;
    top: -10px;
}
.index_product_box{
    padding: 15px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
}
.index_product_box .box_title{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.index_product_box .box_title h6{
    font-weight: bold;
}
.product{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    border: 1px solid #f6f6f6;
    margin: 10px 0;
    padding: 7px 0;
}
.product .price{
    text-align: center;
    color: red;
    font-size: 18px;
}
a:focus{
    text-decoration: none;
}

.banners_div{
width: 99%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 15px auto;
    display: block;
}
.banners_div img{
    width: 100%;
}
.catBox{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.14);
    z-index: 1000000000;
    display: none;
}
.sidenav{
  position: fixed;
    width: 270px;
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    background: white;
    top: 0;
    right:-270px
}
.sidenav p{
    text-align: center;
}
.sidenav img{
    width: 120px;
    margin: 20px auto;
    display: block;
}
.sidenav ul li{
    list-style: none;
    color: #757575;
    cursor: pointer;
    font-size: 15px;
}
.sidenav ul li a{
    color: #757575;
    padding: 15px 25px;
    display: block;
}
.sidenav ul li ul li{
    padding: 10px 25px;
}
.sidenav ul li ul li a{
    padding: 10px 25px;
}
.sidenav ul li ul{
    display: none;
}
