body {
    direction: rtl;
    text-align: right;
    font-family: 'Yekan';
    position: absolute;
    width: 100%;
    min-height: 700px;
    background-color: #f5f5f5;
    color: #515151;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan/Yekan.eot');
    src: url('../fonts/yekan/Yekan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/yekan/Yekan.woff2') format('woff2'),
    url('../fonts/yekan/Yekan.woff') format('woff'),
    url('../fonts/yekan/Yekan.ttf') format('truetype'),
    url('../fonts/yekan/Yekan.svg#Yekan') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';

    src: url('../fonts/Webfonts/Woff/IRANSansXFaNum-DemiBold.woff') format('woff'),
    url('../fonts/Webfonts/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/iranyekan/iranyekanwebmedium.eot');
    src: url('../fonts/iranyekan/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iranyekan/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/iranyekanwebmedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iranyekan/iranyekanwebmedium.ttf') format('truetype');
    url('../fonts/iranyekan/iranyekanwebmedium.svg') format('truetype');
}


a {
    text-decoration: none !important;
    color: #000000;
}

ul {
    padding: 0 !important;
}
li{
    list-style: none;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: white;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;

}

#align-justify {
    font-size: 20px !important;
    color: grey;
}

.slider_box .swiper-container {
    width: 100%;
    height: 100%;
}

.slider_box img {
    margin: 10px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    width: 100%;
    max-height: 250px;
}

.slider_box .swiper-pagination-bullet-active {
    opacity: 1;
    background: #00bfd6 !important;
}

.c-footer {
    margin-top: 50px;
    padding: 0 10px 0;
    background-color: white;
    position: relative;
    line-height: 22px;
    position: absolute;
    width: 100%;
}

.c-footer-feature-item-1 {
    background: url("../files/images/express-delivery.svg") 43% 8px no-repeat;
    background-size: 80px;
}

.c-footer-feature-item-2 {
    background: url("../files/images/support.svg") 43% 8px no-repeat;
    background-size: 80px;
}

.c-footer-feature-item-3 {
    background: url("../files/images/cash-on-delivery.svg") 43% 8px no-repeat;
    background-size: 80px;
}

.c-footer-feature-item-4 {
    background: url("../files/images/days-return.svg") 43% 8px no-repeat;
    background-size: 80px;
}

.c-footer-feature-item-5 {
    background: url("../files/images/original-products.svg") 43% 8px no-repeat;
    background-size: 80px;
}

.c-footer .row {
    width: 98%;
    margin: auto !important;
    padding-top: 20px;
    border-bottom: 1px solid #ccecec;
    color: #4a5f73;
}

.c-footer .row ul {
    margin-top: 20px;
    margin-bottom: 30px;
}

.c-footer .row ul li {
    font-size: 14px;
    list-style: none;
    line-height: 30px;
    color: #c6c6c6;
}

.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.c-footer .mojavez {
    text-align: center;
}

.c-footer .mojavez div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.c-footer .mojavez img {
    max-width: 70px !important;
    margin-bottom: 10px;
    display: block;
}

.product .title {
    color: black !important;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.product img {
    width: 116px;
    margin: 10px auto;
    display: block;
}

.discount-badge {
    padding: 1px 5px;
    color: white !important;
    background: #ef5662;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 15px;
    font-size: 13px;
    letter-spacing: .5px;
    position: absolute;
    z-index: 2;
    line-height: 1.2;
    top: -10px;
}

.index_product_box {
    padding: 15px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
}

.index_product_box .box_title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.index_product_box .box_title h6 {
    font-weight: bold;
}

.product {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    border: 1px solid #f6f6f6;
    margin: 10px 0;
    padding: 7px 0;
}

.product .price {
    text-align: center;
    color: red;
    font-size: 18px;
}

a:focus {
    text-decoration: none;
}

.banners_div {
    width: 99%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 15px auto;
    display: block;
}

.banners_div img {
    width: 100%;
}

.catBox {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.14);
    z-index: 1000000000;
    display: none;
}

.sidenav {
    position: fixed;
    width: 270px;
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    background: white;
    top: 0;
    right: -270px
}

.sidenav p {
    text-align: center;
}

.sidenav img {
    width: 120px;
    margin: 20px auto;
    display: block;
}

.sidenav ul li {
    list-style: none;
    color: #757575;
    cursor: pointer;
    font-size: 15px;
}

.sidenav ul li a {
    color: #757575;
    padding: 15px 25px;
    display: block;
}

.sidenav ul li ul li {
    padding-right: 20px;
}

.sidenav ul li ul li a {
    padding: 10px 25px;
}

.li_div ul li ul {
    display: none;
}

#align-justify {
    cursor: pointer;
}

.li_div {
    display: none;
    background-color: #f5f5f5;
}

.offers_counter p {
    display: none;
}

.offers_counter {
    /*display: inline-flex;*/
    /*justify-content: space-between;*/
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.offers_counter::before {
    content: "\F017";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    /*position: absolute;*/
    /*left: 7px;*/
    /*top: 13px;*/
    color: #7c6d6d;
    /*margin-top: 2px;*/
    margin-left: 20px;
}

.c-counter {
    font-size: 14px;
    font-weight: 900;
    color: #515151 !important;
    display: inline-flex;
    direction: ltr;
    margin-left: 15px;

}

.c-counter span {
    width: 30px;
    text-align: center;
    margin-top: 4px;
}

.price_tag {
    text-align: center;
    display: block;
}

.incredible_offers_image {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.09);
}

.index_search_form {
    width: calc(100% - 80px);
    margin-right: 0 !important;
    min-width: calc(100% - 80px);
}

/*.index_search_form {*/
/*    width: calc(100% - 466px);*/
/*    min-width: 300px;*/
/*    margin-right: 20px;*/
/*}*/

.index_search_form .form-control {
    border-radius: 0 7px 7px 0 !important;
    -webkit-border-radius: 0 7px 7px 0 !important;
    height: 40px;
    border-color: #d5dadd;
    background-color: #f0f0f1;
    font-size: 13px;
}

.index_search_form .input-group-text {
    background: #ef5661;
    width: 50px;
    border-radius: 7px 0 0 7px !important;
    -webkit-border-radius: 7px 0 0 7px !important;
    border: 1px solid #ef5661;
    cursor: pointer;
    height: 40px;
}

.index_search_form .input-group-text .mdi-magnify {
    color: white !important;
    font-size: 20px !important;
    margin: auto !important;
}

.navbar .fa-user {
    font-size: 21px;
    margin-right: 10px;
    color: #696161;
}

.navbar .mdi-shopping-outline {
    font-size: 21px;
    color: #696161;
}

.cart_product_count {
    background-color: #ef5661;
    width: 20px;
    height: 20px;
    display: block;
    z-index: 100000;
    position: absolute;
    text-align: center;
    top: -13px;
    left: 12px;
    color: white;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.product_item_box {
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #f6f6f6;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.09);
}

.product_headline {
    margin: 10px 10px 0 10px;
}

.product_headline .product_title {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.product_headline .product_title span {
    display: block;
    padding-top: 5px;
    color: #b5b5b5;
    font-size: 12px;
    line-height: 12px;
}

.product_options {
    display: flex;
    justify-content: space-between;
    margin: 7px 10px;
    align-items: center;
    font-size: 14px;
}

.product_options .mdi {
    font-size: 17px;
    margin-left: 10px;
}

.score {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gray {
    width: 80px;
    height: 16px;
    margin-right: 5px;
    background: url("../files/images/star-new.gif") repeat-x 0 0;
    direction: ltr;
}

.red {
    height: 16px;
    background: url("../files/images/star-new.gif") repeat-x 0 -32px;
}

#gallery img {
    width: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 250px;
    margin: 25px 88px 40px;
}

.product_item_box .row {
    margin: 0 !important;
}

.product_image {
    display: block;
    margin: auto;
    max-height: 250px;
    padding-bottom: 30px;
}

.product_data_ul {
    display: flex;
}

.product_data_ul li {
    padding: 10px;
    font-size: 14px;
}

.data_link {
    color: #1ca2db !important;
    border-bottom: 1px dashed #1ca2db;
}

.color_ul {
    display: flex
}

.color_ul li {
    list-style: none;
    border: 1px solid #ccc;
    margin-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    padding: 5px;
}

.color_ul li label {
    cursor: pointer;
    margin-bottom: 0 !important;
}

.ui-variant-shape {
    width: 17px;
    height: 17px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 7px;
}

.color_name {
    padding-right: 25px;
    padding-left: 10px;
}

.color_ul .active {
    border-color: #1ca2db !important;
}

.info_item_product {
    font-size: 15px;
    margin-top: 20px;
}

.info_item_product fa {
    font-size: 20px !important;
}

.tooltip {
    font-family: 'iransans' !important;

}

.tooltip-inner {
    background: #68a5ff !important;
    font-size: 12px !important;
    text-align: justify !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #68a5ff; /* blue */
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #68a5ff; /* blue */
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: #68a5ff; /* blue */
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: #68a5ff; /* blue */
}

.final_product_price {
    font-family: IRANSans;
    color: #fb3449;
    font-size: 15px;
    padding-top: 10px;
    display: block;
}

.product_discount {
    background: #ef5662;
    height: 32px;
    border-radius: 0 19px;
    -webkit-border-radius: 0 19px 19px;
    width: 60px;
    position: relative;
    margin: 30px 20px 0;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 32px;
}

.product_discount::before {
    content: attr(data-title);
    font-size: 12px;
    line-height: 22px;
    color: #7f7f2f;
    position: absolute;
    bottom: 100%;
    right: 12px;
}

.product_unavailable span {
    font-weight: bold;
    font-size: 20px;
    color: #7a7a7a;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.product_unavailable p {
    text-align: justify;
}

.warranty_count {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

.mobile_data_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    background: white;
    transition: all 0.5s;
    /*display: none;*/
}

.mobile_data_box .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

.mobile_data_box .header i {
    font-size: 25px;
    vertical-align: middle;
}

.productPriceList {
    background: white;
    margin-top: 20px;

}

.warranty_list {
    padding: 15px 20px;
    margin: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.warranty_list div {
    font-size: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.warranty_list .price {
    font-size: 16px;
    justify-content: space-between;

    padding-bottom: 0 !important;
}

.productPriceList .active {
    background: #f4fbff !important;
    border: 1px solid #19bfd3 !important;
}

.product_send_time i {
    font-size: 22px;
    top: 5px;
    position: relative;
    color: cornflowerblue;
}

.btn-seller-add-cart {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #00bfd6;
    padding: 5px 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    background: #00bfd6;
}

.price span {
    font-family: iransans;
}

.product_item_box .item_box {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    font-size: 14px;
}

.product_item_box .item_box a {
    cursor: pointer;
    display: flex;
    color: #00bfd6 !important;
}

.product_item_box .item_box a i {
    font-size: 18px;
}

.important_item_ul {
    margin: 15px;
}

.important_item_ul li {
    color: #5d5d5d;
    padding: 5px 0;
    font-size: 14px;
}

.mobile_data_box .data_box {
    display: none;
}

.item_table {
    margin: 12px;
    font-size: 13px;
    overflow-y: auto;
}

.product_item_name {
    background-color: #f1f1f1;
    display: flex;
    padding: 7px 10px;
    color: black;
}

.product_item_value {
    padding: 5px 10px;
}

.item_name {
    color: #4a90e2;
    font-size: 15px;
}

.mobile_data_box .content {
    overflow-y: auto;
    height: calc(100% - 60px);
    width: 100%;
}

.add_product_link {
    position: fixed;
    bottom: 0;
    background-color: #ef5662;
    text-align: center;
    z-index: 10000000;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: 100%;
    right: 0;
    left: 0;
    /*border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
}

.page_aside {
    width: 95%;
    margin: 10px auto;
}

.order_info {
    background: white !important;
    width: 100% !important;
    margin-top: 20px !important;
    border: 1px solid #e8e8e8 !important;
    box-shadow: 0 12px 12px 0 rgba(180, 180, 180, 0.1);
}

.order_info ul li {
    list-style: none;
    padding: 10px;
    font-size: 14px;
}

.container-fluid {
    padding: 0 !important;
}

.order_info ul {
    padding-top: 20px;
}

.order_info ul li .left {
    float: left;
    font-family: IRANSans;
}

.checkout_divider {
    width: 96%;
    margin: 2%;
    height: 4px;
    border: 1px solid #e6e6e6;
}

.checkout_content {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.cart_price_p {
    font-family: IRANSans;
}

.cart_row {
    font-size: 13px;
    padding: 20px 5px;
    border-bottom: 1px solid #eaeaea;
}

.cart_product_image {
    width: 30%;
}

.cart_product_image img {
    width: 100%;
    margin: auto;
    display: block;
}

.cart_product_info {
    width: 70%;
    display: flex;
    color: #4a5f73;
    flex-direction: column;
    line-height: 25px;
}

.cart_content {
    background-color: white;
    width: 95%;
    margin: 20px auto;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.checkout_item {
    display: flex;
}

.checkout_options {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 5px;
    align-items: center;
}

.cart_color_div {
    position: relative;
}

.cart_product_price {
    font-size: 15px;
    font-weight: bold;
    color: #fb3449 !important;
    font-family: iransans;
}

.remove_product {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 55px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef5661;
    letter-spacing: -0.5px;
}

.cart_color_div .ui-variant-shape {
    top: 5px !important;
    margin-right: 5px;
}

.checkout_options .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 50px !important;
    margin-left: 10px !important;
    margin-right: 5px;
}

.checkout_options .btn-light {
    background-color: white;
    border: 1px solid #c3c3c3;
}

.checkout_options .btn {
    padding: 5px 10px;
}

.filter-option-inner-inner {
    font-family: 'iransans';
}

.dropdown-item {
    font-family: 'iransans';
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    z-index: 999999999;
    background-position: center center;
    background-color: rgba(0, 0, 255, 0.3);
    background-repeat: no-repeat;
    display: none;
}

#loading h6 {
    top: 65%;
    right: 48%;
    position: absolute;
    font-size: 17px;
    height: 0;
}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 0;
    margin: 0;

}

.loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
}

.loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
}

@keyframes lqt {
    0%, 100% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% 40px;
    }
    50.1% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0% -40px;
    }
}

@keyframes lqb {
    0% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0 40px;
    }
    100% {
        background-image: linear-gradient(#FF3D00 40px, transparent 0);
        background-position: 0 -40px;
    }
}

@keyframes spinx {
    0%, 49% {
        transform: rotate(0deg);
        background-position: 50% 36px;
    }
    51%, 98% {
        transform: rotate(180deg);
        background-position: 50% 4px;
    }
    100% {
        transform: rotate(360deg);
        background-position: 50% 36px;
    }
}

message_div {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1000000;

}

.message_box {
    background: white;
    width: 300px;
    height: 120px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 13px;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    box-shadow: 5px 7px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000000000000000;
}

.message_box #msg {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px !important;
}

.message_box .alert {
    padding: 5px 30px 5px 30px !important;
    cursor: pointer;
    font-size: 14px !important;
}

.message_box .alert-danger {
    margin-right: 10px;
}

.empty_cart_div {
    height: 300px;
    text-align: center;
    width: 95% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white !important;
    margin: 15px auto !important;
}

.icon-basket {
    font-size: 40px;
    color: #ff6c3f;
    margin-left: 5px;


}

.empty-title {
    margin-top: 10px;
    font-size: large;
}

.discount_cart_div{
    display: flex;
    justify-content: space-between;
    padding:0 10px 20px 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'iransans';
}

.order_header{
    width: 100%;
    height: 140px;
    background: white;
}

.checkout_steps{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 43px;
    margin: 34px 161px;
}
.checkout_steps li{
    list-style: none;
    position: relative;
}
.step_item::before{
    content: attr(step-title);
    font-size: 13px;
    position: absolute;
    top: -25px;
    left: 50%;
}

.step_item{
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #d0d0d0;
    text-align: center;
}
.inactive::before{
    content: "";
    position: absolute;
    background-color:#d0d0d0 ;
    width: 382px;
    height: 3px;
    top: 50%;
    left: 0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #16a677;
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #16a677;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px;
    font-size: 11px;
}
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    padding-right: 0!important;
    padding-left:0!important;
}
.default_address{
    margin:20px 10px 0 10px;
}
.default_address h6{
    font-weight:bold ;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.default_address .address_content{
    padding: 10px;
}
.default_address .address_content ul{
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
    font-size: 14px;
}
.default_address .address_content ul li{
    width:50%;
    list-style: none;
}
.show_other_item{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #00bfd6;
    font-size: 14px;
    align-items: center;
}
.add_address_btn{
    width: 95%;
    margin:10px auto;
    border: 4px dashed #b8b8b8;
    background: #fff;
    min-height: 70px;
    justify-content: center;
    color: #a0a0a0;
    letter-spacing: -0.3px;
    display: block;
}
.add_address_btn strong{
    font-size: 20px;
    padding: 14px 22px;
}
.add_address_btn strong::before{
    content: "\F067";
    padding-left: 5px;
    font: normal normal normal 14px/1 FontAwesome;
}
.select_address_tag{
    color: #00bfd6;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size:14px;
}
.profile_item{
    background-color: #fff;
    padding: 15px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    margin: 10px;
}
#add_address_box .textarea{
    resize: none;
    height: 110px;
    width: 100%;
    padding: 5px;
    font-size: small;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    font-family: iransans!important;
}

#add_address_box label {
    display: block;
    margin-top: 0.5rem;
}

#add_address_box .account_title{
    font-size: 14px;
    padding-bottom: 5px;
}

#add_address_box .input_label input{
    padding-right: 10px!important;
    font-family: iransans!important;
    font-size: small;
}
#add_address_box .bootstrap-select .btn{
    background: white!important;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    padding: 0.375rem 0.75rem!important;
}

#add_address_box .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

#add_address_box .bootstrap-select .btn-light .filter-option {
    text-align: right !important;
}

#add_address_box .bootstrap-select .dropdown-menu.inner{
    text-align: right !important;
}

#add_address_box .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    margin-top: 0!important;
}
#add_address_box .btn-primary{
    font-size: 14px;
    height: 45px!important;
    line-height: 30px;
    width:100%;
}

.feedback_hint.active{
    display: block!important;
}
.feedback_hint{
   color: red;
    font-size: 13px;
}
.hide_box{
    display: none;
}
#select_location_btn{
    margin-top: -43px;
    position: absolute;
    left: 20px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    font-size: 15px;
    z-index: 1000;
}
.default_address .header{
    display: flex;
    justify-content: space-between;

}
.default_address .header h6{
    border-bottom:0!important;
}
.default_address .header div i{
    font-size: 19px;
    color: crimson;
}
.shipping_data_box{
    width: 100%;
    background-color: #fff;
    border: 1px solid #f6f6f6;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.09);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.09);
    margin: 20px auto;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}
.radio_check{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    margin-top: 4px;
    right: 15px;
}

.active_radio_check::before{
    content: "";
    width: 11px;
    height: 11px;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    background-color: #00bfd6;
    position: absolute;
    top: 1px;
    left: 1px;
}

.shipping_data_box .product_info_box{
    width: 180px;
    margin-top: 10px;
}
.shipping_data_box .product_info_box img{
    width: 120px;
    margin: auto;
    display: block;
}
/*.shipping_data_box .header_box*/
/*{*/
/*    background-color: #fcfcfc;*/
/*    border-bottom: 1px solid #e7e7e7;*/
/*    border-radius: 6px 0 0 6px;*/
/*    -webkit-border-radius: 6px 0 0 6px;*/
/*    padding: 9px;*/
/*    display: inline-flex;*/
/*    width: 100%;*/
/*    font-size: 13px;*/
/*    !*position: absolute;*!*/
/*}*/
.shipping_data_box .header_box div{
    font-size: 13px!important;
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    justify-content: space-between;

}
/*.shipping_data_box .header_box div span{*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    padding-top: 10px;*/
/*    padding-left: 30px;*/
/*}*/

/*.shipping_data_box .header_box::after{*/
/*    content: "\F107";*/
/*    font: normal normal normal 14px/1 FontAwesome;*/
/*    position: relative;*/
/*    left: 30px;*/
/*    font-size: 30px;*/
/*    color: #c6c6c6;*/

/*    margin-top: 20px;*/
/*}*/
.shipping_data_box_title
{
    font-weight: bold;
    font-size: 18px;
}
#send_order_type_box{
    margin: 10px!important;
}
.shipping_data_box {
    font-size: 13px;
    cursor: pointer;
}
.swiper-button-prev::before {
    content: "\F105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
    color: #cecece;
}
.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
    content: '';
}
.swiper-button-prev, .swiper-button-next {
    background-image: none!important;
    width: 40px!important;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: 0 8px 9px 0 rgb(0 0 0 / 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next::before {
    content: "\F104";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 25px;
    color: #cecece;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "";
}
.swiper_product_box .product_info_box p {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.692;
    font-weight: 700;
    letter-spacing: -.4px;
    color: #858585;
    font-family: 'IRANSans';
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}
.swiper_product_box {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
.shipping_data_box .product_info_box img {
    width: 70%;
    margin: auto;
    display: block;
}
.checkout_image{
    width:40px;
    height: 40px;
    background-image: url("../files/images/rsz_1rsz_1rsz_161908725.png");
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    /*background-position: -705px -220px;*/
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-size: contain;

}
.checkout_time{
    margin-right: 60px;
    margin-left: 10px;
    text-align: justify

}
.checkout_time span{
    font-size: 14px;
}
.check_box {
    width: 19px;
    height: 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
    background-color: rgb(255, 255, 255);
    display: block;
    border: 1px solid #d8d8d8;
    float: right;
}
.check_box.active {
    background-color: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}
.form-check-input {
    display: none;
}
.check_box.active::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F00C";
    display: block;
    color: white;
    margin-right: 1px;
}
.checkout_action {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.gift_li{
    display: none;
}
.discount_li{
    display: none;
}
.payment_box{
    padding-bottom: 20px!important;
}
#mobile_order_product_list .swiper-button-prev{
    right: 0!important;
}
#mobile_order_product_list .swiper-button-next{
    left: 0!important;
}
#mobile_order_product_list .swiper_product_box{
    border-bottom: 0!important;
    margin-top: 20px;
}
.product_color_name{
    height: 20px!important;
}
.discount_input {
    width: calc(100% - 120px);
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 40px;
}
.discount_button {
    width: 120px;
    height: 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #41a7b4;
    border-color: #41a7b4;
}
.send_type{
    margin-right: 15px;
}
.profile_item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(229,229,229,0.84);
    line-height: 50px;
}
.profile_item_header i{
    font-size: 20px;
}
.profile_item_list{
    margin: 12px!important;
}
.profile_item_list a{
    color: #5b5b5b;
}
.profile_info_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e3e3e3;
}
.order_list .product_item_header{
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3 !important;
    line-height: normal!important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.order_list .profile_item{
    padding: 10px 15px;
}
.profile_menu_title {
    display: block;
    padding:15px 20px 10px;
    color: #858585;
    font-weight: bold;
    font-size: 15px;
}
.order_steps img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}
.step_div span {
    padding-top: 15px;
}
.step_div {
    width: 100%;
    text-align: center;
    font-size: 13px;
}
.step_inactive {
    filter: grayscale(100%);
    opacity: 0.3;
}
.order_steps hr {
    min-width: 66px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
    opacity: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 5px;
}
.hr_active {
    background-color: #81d7e2 !important;
}

.order_content_header{
    font-size: 17px!important;
    margin: 20px 20px 0 20px;
    font-weight: bold;
    border: 0!important;
}
.remove_border{
    border: 0!important;
}
.profile_item .swiper-button-prev{
    right: 0!important;
}
.profile_item .swiper-button-next{
    left: 0!important;
}
#order_product_box .product{
    background: white;
    border: 1px solid #f6f6f6;
    box-shadow: 0 2px 4px 0 rgb(0,0 ,0, 0.09%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#order_product_box .product img{
    width: 116px;
    margin: 10px auto;
    display: block;
}
#order_product_box .product .title{
    color: #1e1d1d!important;
    text-align: center!important;
    margin-top: 10px!important;
    height: 60px;
}
#order_product_box .product .order_product_price{
    text-align: center;
    color: red;
    font-size: 18px;
}
.product_box{
    margin:10px;
}
.order_product_count{
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #00bfd6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.filter_header{
    display: flex;
    padding: 10px;
}
.filter_btn{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #e0e0e0;
    color: #424242;
    font-size: 16px;
    padding: 5px 11px;
    margin-left: 5px;
    border: 1px solid #e0e0e0;
}
.advanced_search_box::after{
    content: "\F0B0";
    font-family: FontAwesome;
    margin-left: 5px;
    margin-right: 10px;
}
.sort_btn::after{
    content: "\F160";
    font-family: FontAwesome;
    margin-left: 5px;
    margin-right: 10px;
}
#filter_box{
    background: #f5f5f5;
}
#filter_box .header{
    background-color: #e9e9e9!important;
}
.filter_bar{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.filter_bar div{
    display: flex;
}
.filter_bar div span{
    font-size: 13px;
    padding-right: 10px;
}
.toggle-light .toggle-on, .toggle-light .toggle-select .toggle-inner .active {
    background: #00bfd6;
}
.toggle_box {
    display: flex;
    align-items: center;
}
.toggle_box #product_status {
    margin: 10px;
}
.item_box{
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    width: 96%;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, .09);
    padding:0 10px;
}
.item_box .title_box{
    display: flex;
    width: 98%;
    margin: auto;
    cursor: pointer;
    height: 55px;
    font-size: 15px;
    color: #424242;
    align-items: center;
}
.item_box .title_box label{
    margin-bottom: 0!important;
    padding-right: 5px;
}
.item_box .title_box i{
    top: 2px!important;
    position: relative!important;
    font-size: 20px!important;
}
.filter_box{
    display: none;
    max-height: 500px;
    overflow-y: auto;
    border-top: 1px solid #dedede;
}
.item_box ul li {
    color: grey;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 5px;
    cursor: pointer;
}
.item_box ul li .title {
    padding-right: 5px;
}
.color_div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.color_filter_ul li {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.ename {
    float: left;
    font-size: 12px !important;
    padding-left: 10px;
}
.filter_brand_div {
    position: relative;
}
.filter_brand_div::before {
    content: "\F002";
    font-family: FontAwesome;
    position: absolute;
    top: 22px;
    right: 5%;
}
#brand_search {
    width: 95%;
    margin: 15px auto;
    font-size: 13px !important;
    display: block;
    padding: 7px 25px;
}
.toggle_box #send_status {
    margin: 10px;
}
.price_range_slider {
    width: 90%;
    margin: 30px auto !important;
}
.filter_price_ul {
    display: inline-flex;
    width: 100%;
    padding-top: 0 !important;
    border-bottom: 1px solid #dedede;
    padding-bottom: 0 !important;
}
.filter_price_ul li:first-child {
    border-left: 1px solid #dedede;
}
.filter_price_ul li {
    width: 50%;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
}
.filter_price_ul li .price {
    background-color: #F0F0F0;
    width: 80%;
    margin: 10px auto;
    color: grey !important;
}
.price {
    color: red !important;
    text-align: center !important;
    font-size: 18px !important;
    font-family: 'IRANSans';
}
#price_filter_btn {
    background-color: #2196F3 !important;
    border: 1px solid #2196F3;
    margin: 10px auto;
    font-size: 14px;
    display: block;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: 285px !important;
    right: auto;
}

